<mat-card class="add-list">
  <mat-card-title (click)="onNewListClick()">
    <mat-icon color="primary" inline="true">add</mat-icon>
    Add new list
  </mat-card-title>
  <mat-card-content *ngIf="isAddingNewList">
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter list name" [(ngModel)]="newListName" name="newListName">
    </mat-form-field>
    <div class="button-container">
      <button mat-stroked-button (click)="onListAdded()" class="pull-right" [disabled]="!newListName">Add</button>
      <button mat-stroked-button (click)="resetForm()">Cancel</button>
    </div>
  </mat-card-content>
</mat-card>